<div class="card">
    <div class="card-body">
        <h5 class="card-title">Assignment Details</h5>
        <ul class="list-styled">
            <li>Create a table with from the Api <a href="https://jsonplaceholder.typicode.com/todos" alt="mock api link" target="_blank">https://jsonplaceholder.typicode.com/todos</a></li>
            <li>Create a button in each row as edit which will make two Colum as editable.</li>
            <li>you can modify the data. Reset button will reset the data as we.</li>
            <li>Create a submit button for post the data as well</li>
            <li>Create test cases for this as well.</li>
        </ul>
    </div>
</div>