<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">#Id</th>
                <th scope="col">#userId</th>
                <th scope="col">title</th>
                <th scope="col" style="width: 15%">completed</th>
                <th scope="col" style="width: 20%">action</th>
            </tr>
        </thead>
        <tbody *ngIf="!todos$?.length">
            <tr>
                <td colspan="5">
                    <div class="alert alert-danger" role="alert">
                        No record found!!!
                    </div>
                </td>
            </tr>
        </tbody>
        <tbody else>
            <tr *ngFor="let todo of todos$">
                <td scope="col">{{ todo.id }}</td>
                <td scope="col">{{ todo.userId }}</td>
                <td>
                    <div class="readOnlyMode" *ngIf="!todo.isEdit">
                        <span>{{ todo.title }}</span>
                    </div>
                    <div class="editMode" *ngIf="todo.isEdit">
                        <input type="text" class="form-control" [(ngModel)]="todo.title" />
                    </div>
                </td>
                <td>
                    <div class="readOnlyMode">
                        <!-- <span>{{ todo.completed ? 'Yes' : 'No' }}</span> -->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="todo.completed" [disabled]="!todo.isEdit" />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="readOnlyMode" *ngIf="!todo.isEdit">
                        <button class="btn btn-primary" (click)="editTodo(todo)">
              Edit
            </button>
                    </div>
                    <div class="editMode" *ngIf="todo.isEdit">
                        <button class="btn btn-success" (click)="updateTodo(todo)" type="button">
              Update
            </button>
                        <button class="btn btn-secondary ms-2" (click)="resetTodo(todo)" type="button">
              Reset
            </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>